/* CSS customization */

body {
    margin:auto; 
    height: auto; 
}

#timer{
    text-align: center; 
    margin: 20px;
    font-size:18px; 
    color:blue; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#questionBlock{
    color:green; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container{
    background-color: lightgoldenrodyellow; 
}

img{
    width:250px; 
    height:250px; 
}